* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 5px;
}

h1 {
  color: #000066;
  font-size: 40px;
}

nav a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

nav a:hover {
  color: #0000b3;
  background-color: #d3deffcd;
  transition: all 0.3s ease;
  border-radius: 5px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: linear-gradient(90deg, #294189, #000066);
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}

.gradient-background {
  background: linear-gradient(300deg, #000080, #4d4dff, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 7.5s ease infinite;
  color: white;
  text-align: justify;
  padding: 25px;
  border-radius: 10px;
  width: 80%;
  max-width: 50%;
  line-height: 25px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gradient-background p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.gradient-background-footer {
  background: linear-gradient(300deg, #000080, #4d4dff, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 7.5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

address a {
  text-decoration: none;
  color: #ffdb66;
  font-weight: 500;
}